body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgb(219, 18, 18);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}